<!DOCTYPE html>
<html>
<title> Battlefield 1 </title>
<style>
.body7 {
    background-color: rgba(114, 149, 197, 0.97);
    color: white;ss
}
</style>
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<head>
<body>
<div class="body7">


<h2 align="center">Battlefield 1</h2>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">

<img src="{{ url_for('static', filename = 'pic/battlefield1.jpg') }}" alt="unchart" align ="middle" style="100%">
</div>
<div class="col-md-4">
<iframe width="560" height="315" src="https://www.youtube.com/embed/YwSFUNMrWvk" frameborder="0" allowfullscreen></iframe>
</div>
</div>
<div class="row">
<div class="col-md-8">
<p class="align">Battlefield 1 is a first-person shooter video game developed by EA DICE and published by Electronic Arts. It is the fifteenth installment in the Battlefield series, and the first main entry in the series since Battlefield 4.[1] The game was released worldwide for Microsoft Windows, PlayStation 4, and Xbox One on October 21, 2016.</p>
<br>
<p class="align">Battlefield 1 is a first-person shooter that emphasizes teamwork. The game is set in the period of World War I, and is inspired by historic events. Players can make use of World War I weapons, including bolt-action rifles, automatic and semi-automatic rifles, artillery, flamethrowers, and mustard gas to combat opponents. Melee combat was reworked, with DICE introducing new melee weapons such as sabres, trench clubs, and shovels into the game. These melee weapons were divided into two groups: heavy and light.Players can also take control of various armored vehicles, including light and heavy tanks, armored trucks, biplane aircraft, battleships and zeppelin, as well as ride horses into battle. Destructible environments and weapon customization, features present in the previous games, returned in Battlefield</p>
</div>
</div>
</div>
</div>



</body>
</html>









