<!DOCTYPE html>
<html>
<title> Forza </title>
<head>
<style>
.body2 {
    background-color: green;
    color: white;ss
}
</style>
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<head>
<body>
<div class="body2">
<h2 align="center">Forza Horizon 3</h2>

<div class="container">
  <div class="row">
    <div class="col-md-4">
<img src="{{ url_for('static', filename = 'pic/forza.jpg') }}" alt="unchart" align ="middle" style="100%">
</div>

  <div class="col-md-4">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/vD1ccSM9qiA" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>

<div class="row">
<div class="col-md-8">

<P align="center">Forza Horizon 3 is an open world racing video game developed by Playground Games and published by Microsoft Studios for Xbox One and Microsoft Windows. The game features cross-platform play between the two platforms. The game was released on 23 September 2016 for "Ultimate Edition" players, and 27 September 2016 for standard and "Deluxe Edition" players</p>
<br>
<p align ="center">Forza Horizon 3 is a racing video game set in an open world environment based in Australia,[1] with the map twice the size of that in Forza Horizon 2, and includes places such as Surfers Paradise, Byron Bay, Yarra Valley and the Outback. The game features a four-player co-operative multiplayer campaign[1] and cross-platform play, as it is a part of the Xbox Play Anywhere program.[2] A total of 350 cars are available to players at launch – the most amount of cars to be featured in a Horizon game as of yet.</p>
</div>
</div>
</div>
</div>









</body>
</html>
