<!DOCTYPE html>
<html>
<title> God of war </title>
<head>
<style>
.body9 {
    background-color: purple;
    color: white;ss
}
</style>
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
<body>
<div class="body9">
<h1 align="center">God of war (2017)</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
<img src="{{ url_for('static', filename = 'pic/god.jpg') }}" alt="zelda" align ="middle" style="100%">
<br>

</div>


  <div class="col-md-4">
<iframe width="560" height="315" src="https://www.youtube.com/embed/CJ_GCPaKywg" frameborder="0" allowfullscreen></iframe>
  <br>
 
  </div>
  </div>
  <div class="row">
    <div class="col-md-8">


<P align="center">God of War is an upcoming third-person action-adventure video game in development by Santa Monica Studio and to be published by Sony Interactive Entertainment (SIE) for the PlayStation 4 (PS4) console. It will be the eighth installment in the God of War series, the eighth chronologically, and the sequel to 2010's God of War III. The game will be a soft reboot for the franchise and will take the series to the world of Norse mythology—all previous games were based on Greek mythology. Series protagonist Kratos will return as the main character, and he now has a son. Kratos acts as a mentor and protector to his son, and has to master the rage that has driven him for many years.</p>
<br>

</div>
</div>
</div>
</div>
</body>
</html>
