<!DOCTYPE html>
<html>
<title> Gran </title>
<head>
<style>
.body9 {
    background-color: green;
    color: white;ss
}
</style>
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
<body>
<div class="body9">
<h1 align="center">Gran Turismo: Sport</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
<img src="{{ url_for('static', filename = 'pic/gran.jpg') }}" alt="zelda" align ="middle" style="100%">
<br>

</div>


  <div class="col-md-4">
<iframe width="560" height="315" src="https://www.youtube.com/embed/UW_VWFVTMFQ" frameborder="0" allowfullscreen></iframe>
  <br>
 
  </div>
  </div>
  <div class="row">
    <div class="col-md-8">


<P align="center">Gran Turismo Sport is an upcoming racing video game developed by Polyphony Digital and published by Sony Interactive Entertainment for the PlayStation 4 video game console. The game has been referred to by series creator Kazunori Yamauchi as the first in a new generation or new era of Gran Turismo games, with the first 6 main releases recognised as the first generation and GT Sport marking the beginning of a new era into the second generation</p>
<br>

</div>
</div>
</div>
</div>
</body>
</html>
