<!DOCTYPE html>
<html>
<title> Inside </title>
<style>
.body3 {
    background-color: purple;
    color: white;ss
}
</style>
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<head>
<body>
<div class="body3">
<h2 class= "align">Inside(Video Game)</h2>

<div class="container">
  <div class="row">
    <div class="col-md-4">
<img src="{{ url_for('static', filename = 'pic/inside.png') }}" alt="Inside" align ="middle" style="100%">
</div>

  <div class="col-md-4">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/Jp4W5iyRAQA" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>

<div class="row">
 <div class="col-md-8">
<P align="center">Inside (stylized as INSIDE) is a puzzle-platformer adventure video game developed and published by Playdead and first released in June 2016. In the game the player controls a young boy in a monochromatic landscape, solving environmental puzzles while avoiding death in a 2.5D sidescrolling fashion, thematically and visually similar to the 2010 video game Limbo.</p>
<br>
<p align="center">Inside is a puzzle platformer in which the player character is an unnamed young red-shirted boy who explores a surreal environment presented as a primarily monochromatic 2.5D platform game, using color only to highlight parts of the environment. The game is very dark in nature and mostly silent, with only occasional musical cues. The player controls the boy who walks, runs, swims, climbs, and uses objects to overcome obstacles and progress in the game</p>
</div>
</div>

</div>
</div>




</body>
</html>