<!DOCTYPE html>
<html>
<title> Overwatch </title>
<style>
.body5 {
    background-color: orange;
    color: white;ss
}
</style>
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<head>
<body>
<div class="body5">
<h2 align="center">Overwatch</h2>

<div class="container">
  <div class="row">
    <div class="col-md-4">
<img src="{{ url_for('static', filename = 'pic/out.jpg') }}" alt="tomb" align ="middle" style="100%">
</div>

  <div class="col-md-4">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/pYC44YPb_5k" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>
<div class="row">
<div class="col-md-8">


<P align="center">Overwatch is a team-based multiplayer first-person shooter video game developed and published by Blizzard Entertainment. It was released in May 2016 for Microsoft Windows, PlayStation 4, and Xbox One.</p>
<br>
<P align="center">Overwatch puts players into two teams of six, with each player selecting one of several pre-defined hero characters with unique movement, attributes, and abilities; these heroes are divided into four classes: Offense, Defense, Tank and Support. Players on a team work together to secure and defend control points on a map and/or escort a payload across the map in a limited amount of time. Players gain cosmetic rewards that do not affect gameplay, such as character skins and victory poses, as they continue to play in matches. The game was launched with casual play, while Blizzard added competitive ranked play about a month after launch. Blizzard states that all Overwatch updates will remain free, with the only additional cost to players being microtransactions to earn additional cosmetic rewards.</p>
</div>
</div>





</div>
</div>







</body>
</html>