<!DOCTYPE html>
<html>
<title> sales </title>
<head>
<style>
.body3 {
    background-color: #1c7581;
    color: white;ss
}
</style>
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<head>
<body>
<div class="body3">
<div class="container">
<h1 align="center">Xbox One Outperforms PS4 for Black Friday Online Sales</h1>
<br>
<img src="{{ url_for('static', filename = 'pic/sales.jpg') }}" alt="sales" align ="middle">
<br>
<P>According to a new report, Microsoft's Xbox One was more popular than Sony's PlayStation 4 on Black Friday when it came to online sales in the United States. A report released by Adobe claims that the top five best-selling electronics products for Black Friday were iPads, Samsung 4K TVs, Macbook Air, LG TVs, and Xbox consoles.</p>
<br>
<p>It wasn't mentioned where the PS4 ranked, though it wasn't in the Top 5. Importantly, Adobe's report is for online sales only.</p>
<br>
<p>The Xbox One S and PS4 Slim, which came with at least one bundled game, were offered for only $250 on Black Friday, representing possibly the best official price on either console ever. If you missed out on the Xbox offer, Amazon is still selling the Battlefield 1 bundle for that price.</p>
<br>
<p>Adobe also listed off some hard-to-find products for Black Friday. Some of the products that were mostly likely to run out of stock included the NES Classic Edition and PlayStation VR.</p>
<br>
<p>Adobe reports that overall Black Friday online sales (which includes the evening of Thanksgiving Day), amounted to $5.27 billion, which is up 17.7 percent year-over-year. According to the report, $1.93 billion was spent on Thanksgiving Day, with the remaining $3.34 billion posted on Black Friday.</p>
<br>
<p>Looking at the entire season (November 1-24), the PS4 remains the best-selling console, with Xbox One coming in second, according to the report. In terms of games, Pokemon Sun and Moon were on top, followed by "Call of Duty," which is presumably a reference to Infinite Warfare.</p>
<br>
<p>The report is based on aggregated and anonymous data from 22.6 billion visits to retail sites. Adobe claims to measure 80 percent of all online transactions from the leading 100 US retailers.</p>
<br>
<p>The Xbox One has been the best-selling console in the US since July. Numbers for November aren't out yet, but if Adobe's estimates are accurate, it sounds like the PS4 will be No. 1 in November. The NPD Group is expected to officially announce the figures in the beginning of December.</p>
</div>
</div>
</body>
</html>