<!DOCTYPE html>
<html>
<title> Switch </title>
<head>
<style>
.body2 {
    background-color: red;
    color: white;ss
}
</style>
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<head>
<body>
<div class="body2">
<div class="container">
<h1 align="center">Nintendo Switch</h1>
<br>
<img src="{{ url_for('static', filename = 'pic/switch.jpg') }}" alt="switch" align ="middle">
<P></p>
<br>
<p>The Nintendo Switch, known in development as the NX, is an upcoming hybrid video game console developed by Nintendo, and the company's seventh major home console. Officially unveiled in October 2016, it is currently scheduled for release worldwide in March 2017.</p>
<br>
<p>The Switch's main unit is shaped like a tablet, featuring two detachable controllers on either side called Joy-Cons, which can be used individually or attached to a grip to provide a traditional gamepad form. The main unit is connected to a television display through a docking station, from which it can be removed and used as a portable console. Despite this characteristic, Nintendo markets the Switch primarily as a home console rather than as a portable. The Switch uses flash ROM cartridges rather than optical discs, similar to the Nintendo 3DS.</p>
</div>
</div>
</body>
</html>