<!DOCTYPE html>
<html>
<title> Tekken </title>
<head>
<style>
.body9 {
    background-color: #64421a;;
    color: white;ss
}
</style>
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
<body>
<div class="body9">
<h1 align="center">Tekken7</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
<img src="{{ url_for('static', filename = 'pic/tekken7.jpg') }}" alt="zelda" align ="middle" style="100%">
<br>

</div>


  <div class="col-md-4">
<iframe width="560" height="315" src="https://www.youtube.com/embed/g4h8o4pWECI" frameborder="0" allowfullscreen></iframe>
  <br>
 
  </div>
  </div>
  <div class="row">
    <div class="col-md-8">


<P align="center">Tekken 7 is an upcoming fightingvideo game devloped and published by Bandai Namco Studios.The game is the ninth installment in the Tekken series, and the first to make use of the Unreal Engine. The game will release in 2017 on PS4 and Xbox One</p>
<br>

</div>
</div>
</div>
</div>
</body>
</html>
