<!DOCTYPE html>
<html>

<title> Tomb </title>
<style>
.body4 {
    background-color: black;
    color: white;ss
}
</style>
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<head>
<body>
<div class="body4">
<h1 class="align">Rise of the Tomb Raider</h1>

<div class="container">
  <div class="row">
    <div class="col-md-4">
<img src="{{ url_for('static', filename = 'pic/raider.jpg') }}" alt="tomb" align ="middle" style="100%">
</div>

  <div class="col-md-4">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/1_FIyNcQSgA" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>
  
  <div class="row">
  <div class="col-md-8">
  <P align="center">Rise of the Tomb Raider is an action-adventure video game developed by Crystal Dynamics and published by Square Enix. It is the sequel to the 2013 video game Tomb Raider, a reboot of the Tomb Raider franchise. It was released for Xbox One and Xbox 360 in November 2015 and for Microsoft Windows in January 2016. A special edition of the game, titled Rise of the Tomb Raider: 20 Year Celebration, was released worldwide for PlayStation 4 in October 2016.</p>
<br>
<p align="center"> The game's storyline follows Lara Croft as she ventures into Siberia in search of the legendary city of Kitezh, whilst battling a paramilitary organization that intends on beating her to the city's promise of immortality. Presented from a third-person perspective, the game primarily focuses on survival and combat, while the player may also explore its landscape and various optional tombs. Camilla Luddington returns to voice and perform her role as Lara</p>
  
  
  </div>
  </div>

</div>
</div>







</body>
</html>