<!DOCTYPE html>
<html>
<title> Uncharted </title>
<head>
<style>
.body1 {
    background-color: black;
    color: white;ss
}
</style>
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<head>
<body>
<div class="body1">
<h1 align="center">Uncharted 4: A Thief's End </h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
<img src="{{ url_for('static', filename = 'pic/uncharted4.jpg') }}" alt="unchart" align ="middle" style="100%">
<br>

</div>


  <div class="col-md-4">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/hh5HV4iic1Y" frameborder="0" allowfullscreen></iframe>
  <br>
 
  </div>
  </div>
  <div class="row">
    <div class="col-md-8">
	 <P align="center">Uncharted 4: A Thief's End is an upcoming action-adventure third-person shooter platform video game that was developed by Naughty Dog and it was published by Sony Computer Entertainment.</p> 
<br>
<p align="center">The game will be the sequel to the 2011 video game Uncharted Drake's Deception. The game will be released worldwide on May 10, 2016."</p>
<br>

<p align ="center">Set several years after the events of Uncharted 3: Drake's Deception, A Thief's End follows series protagonist Nathan Drake, who has retired from fortune hunting. He reunites with his older brother Sam and longtime partner Sully to search for clues for the location of Captain Henry Avery's long-lost treasure to save his brother.</p>
  

</div>
</div>
</div>
</div>


</body>
</html>