<!DOCTYPE html>
<html>
<title> Zelda </title>
<head>
<style>
.body9 {
    background-color: #105c8d;
    color: white;ss
}
</style>
<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
<body>
<div class="body9">
<h1 align="center">The legend of zelda:breath of wild</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-4">
<img src="{{ url_for('static', filename = 'pic/zelda.jpg') }}" alt="zelda" align ="middle" style="100%">
<br>

</div>


  <div class="col-md-4">
<iframe width="560" height="315" src="https://www.youtube.com/embed/1rPxiXXxftE" frameborder="0" allowfullscreen></iframe>
  <br>
 
  </div>
  </div>
  <div class="row">
    <div class="col-md-8">

<p align = "center">The Legend of Zelda: Breath of the Wild  is an upcoming action-adventure video game developed and published by Nintendo for the Wii U and Nintendo Switch. It is the 19th main installment in the The Legend of Zelda series and the first original Zelda game developed with an HD resolution. The story is set in Hyrule and follows amnesiac protagonist Link, who awakens from a 100-year slumber to a mysterious voice that guides him to defeat Calamity Ganon.The game is currently set for release in 2017</p>
	<br>
<P align="center">The Legend of Zelda: Breath of the Wild departs from most games in the The Legend of Zelda series, as the title will have an open-world environment approximately twelve times larger than the overworld in Twilight Princess, with less emphasis on defined entrances and exits to areas. Similar to the original The Legend of Zelda, the player is placed into the game's overworld with very little instruction, and is allowed to explore freely at his or her own pace</p>


</div>
</div>
</div>
</div>
</body>
</html>




